<style>
    .wrap{
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        width: 250px;
        height: 30px;
        margin: auto;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
    }
    .btn-list {
        margin-bottom: 10px;
    }
    .btn-redis20px {
        border-radius: 20px;
    }
    .btn-redis20px:focus ,.btn-redis20px:active, .btn-redis20px:active:focus{
        outline: none;
    }
</style>
<div class="wrap">
    <div class="btn-list">
        <button ng-click="radioOptions();"  type="button" class="btn btn-info btn-redis20px">
            单选下拉搜索框
        </button>
    </div>
    <div class="btn-list">
        <button ng-click="multiOptions();" type="button" class="btn btn-info btn-redis20px">
            多选下拉搜索框
        </button>
    </div>
</div>